.dark-gray-bg {
    background-color: $nav-bg;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-b-none {
    margin-bottom: 0 !important;
}

.m-b-md {
    margin-bottom: 20px !important;
}

.p-b-none {
    padding-bottom: 0 !important;
}
